/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* font awesome 4.5 import*/
@import url("https://use.fontawesome.com/aeaef28f90.css");


.multiFamilySlider .fl-content-slider-wrapper > div.fl-slide:nth-child(1){
    width: auto!important;
}

.multiFamilySlider .fl-content-slider-wrapper > div.fl-slide:nth-child(2){
    width: 100vw!important;
}
.multiFamilySlider .fl-content-slider .bx-wrapper .bx-viewport{
    height: auto!important;
}
.btn .uabb-button:hover{
	border: 1px solid #fff!important;
}
.btn2 .uabb-button:hover{
	border: 1px solid #000!important;
}
.btn2 .uabb-button{
	border-radius: 50px!important;

}
.mainHeader .searchWid input[type=search]{
	width: 300px!important;
    float: right!important;
    margin-right: 20px!important;
}
.mainHeader .searchWid input[type=search]::placeholder {
  content: ""!important;
}
.locationList ul li{
	padding: 5px 0px!important;
}

.locationListRow .fl-col-group-equal-height > .fl-col > .fl-col-content {
    display: block!important;
    justify-content: flex-start!important;
    -webkit-justify-content: flex-start!important;
}

.mainHeader .mega-menu-saved-row .mega-menu-saved-row-container .fl-col-group-equal-height > .fl-col > .fl-col-content {
    display: block!important;
    justify-content: flex-start!important;
    -webkit-justify-content: flex-start!important;
}
.LocationMenu .gform_wrapper, .LocationMenu .gfield > div, .LocationMenu .gfield > div > input[type=text], .LocationMenu form > .gform_body ul > li{
	margin-top: 0px!important;
}
.LocationMenu form > .gform_body ul > li > div input[type=text]{
	margin-bottom: 0px!important;
}
/*.mainHeader .searchWid form:after {
    content: "\f002";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    font-size: 36px;
}*/
header .searchWid form:after {
    content: "\f002";
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    position: absolute;
    right: 28px;
    top: 6px;
    pointer-events: none;
    color: #9d9d9d78;
}
header  form{
    position: relative;

}

.homePageTab > div > div > .uabb-tabs-nav > ul > li{
	margin: 0px!important;
	overflow: hidden!important;
	    border: 1px solid #3F547F!important;
}

.homePageTab > div > div > .uabb-tabs-nav > ul {
	width: 400px!important;
    margin: 0 auto!important;
}

.homePageTab > div > div > .uabb-tabs-nav > ul > li a:after {
	height: 0px!important;
}
.homePageTab > div > div > .uabb-tabs-nav > ul > li.uabb-tab-current a:after {
	height: 100%!important;
}
.homePageTab > div > div > .uabb-tabs-nav > ul > li a{
	font-size: 16px!important;
    font-weight: 500;
    padding: 12px!important;
    font-size: 14px!important;
}
.homePageTab > div > div > .uabb-tabs-nav > ul > li.uabb-tab-current a {
	color: #fff!important;
}

.homePageTab > div > div > .uabb-tabs-nav > ul > li:nth-child(1){
	border-bottom-left-radius: 40px!important;
    border-top-left-radius: 40px!important;
}
.homePageTab > div > div > .uabb-tabs-nav > ul > li:nth-child(2){
	border-bottom-right-radius: 40px!important;
    border-top-right-radius: 40px!important;
}
.familyTab .uabb-tabs-nav ul {
	width: 300px!important;
    margin: 0 auto!important;
}
.familyTab .uabb-tabs-nav ul > li{
	outline: none!important;
}
.familyTab .uabb-tabs-nav ul > li.uabb-tab-current, .familyTab .uabb-tabs-nav ul > li.uabb-tab-current h4 {
	border: none!important;
}
.familyTab .uabb-tabs-nav ul > li.uabb-tab-current a{
	color: #3F547F!important;
	border: none!important;
}
.familyTab .uabb-tabs-nav ul > li a{
    padding: 8px 15px!important;
}
.familyTab .uabb-tabs-nav ul > li:nth-child(1){
    border-right: 1px solid #000!important;
}


.familyTab  .uabb-content{
 padding-top: 0px!important;
}
.familyTab  .fl-module-content{
	margin-top: 0px!important;
}

.homePopularStyle .uabb-content-wrap .uabb-content-current .fl-row-content-wrap .fl-col-group > div:nth-child(1){
	display: none!important;
}
.homePopularStyle .uabb-content-wrap .uabb-content-current .fl-row-content-wrap .fl-col-group > div:nth-child(2){
	width: 100%!important;
}

.homePopularStyle .uabb-tabs .uabb-tabs-nav li a{
	padding: 6px 0px!important;
}

.homePopularStyle .uabb-content-wrap .fl-row-content-wrap{
	padding: 0px!important;
}

.homePopularStyle{
	height: 100%!important;
	  background: rgb(248,249,251);
    background: linear-gradient(90deg, rgba(248,249,251,0.80) 0%, rgba(248,249,251,1) 26%);
}

.homePopularStyle .uabb-tabs-nav{
	padding: 0px 10px!important;
	border-right: 2px solid rgba(129,130,133,.2)!important;
}

.homePopularStyle .uabb-tabs-nav .uabb-tab-current a{
  color: #3F547F!important;
  font-weight: 600!important;
}
.homePopularStyle .uabb-tabs-nav a .uabb-tabs-icon{
	display: none!important;
}
.showImgWrap > .fl-col-content{
	background-size: cover!important;
	transition: width 1s!important;
}
.needSep h4{
    	display: inline-block!important;
		border-bottom: 2px solid #cab527;
    }
.customerprofileRow .fl-col-group:after {
    content: "";
    background: #2f3f5f;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
}
.customerprofileRow .fl-col-group > .fl-col:nth-child(2) {
    overflow: hidden;
}
.customerProfileslider .fl-slide-text > p, .customerProfileslider .fl-builder-content {
	margin-bottom: 0px!important;
}
.customerProfileslider .fl-builder-content {
	margin: 0px!important;
}
.customerProfileslider .fl-slide-text:after {
    content: "";
    background: #2f3f5f;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
}

.reviewCol > div:after {
    width: 0;
    height: 0;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
    position: absolute;
    content: "";
    bottom: -30px;
    right: 60px;
}
.reviewCol:nth-child( even ) > div:after {
    width: 0;
    height: 0;
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
    border-right: 0;
    position: absolute;
    content: "";
    bottom: -30px;
    left: 60px;
}
.reviewCol > div {
    position: relative;
}

/* for homepage  blogs */

.blogs .uabb-blog-post-content, .blogs .uabb-module-content.uabb-blog-posts{
	overflow: visible;
}
.blogs .uabb-post-thumbnail img {
    height: 300px;
}


.blogs .uabb-blog-post-content {
    position: static;
        padding-bottom: 40px!important;
}
.blogs .uabb-blog-post-content > div:nth-last-child(1){
	/*position: relative;
    bottom: -60px;
    z-index: 10;
    */
    position: absolute;
    bottom: -30px;
    z-index: 10;
    left: 43%;
}



.blogs .uabb-blog-post-section a.uabb-button{
	bottom: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
    border-radius: 100%!important;
    padding: 20px 18px!important;
    background: #fff;
    color: #000;
    padding: 16px 0px!important;
    border: .1rem solid #dadada;
    width: 50px;
    vertical-align: middle;
}
.blogs .uabb-blog-post-section a.uabb-button > span{
	line-height: 0em!important;
    display: inline-block!important;
    color: #000!important;
    font-size: 24px!important;
    position: relative!important;
    top: -2px!important;
}
.familyTab nav a{
	font-size: 14px!important;
	font-weight: 600!important;
}
.familyTab nav  *{
	border: none!important;
}

.newsLetter form{
	display: flex;
}

.newsLetter form ul li{
	margin: 0px!important;
}

.newsLetter form ul > li > .ginput_container input[type=text]{
    margin-right: 0px!important;
    width: 100%!important;
    border-radius: 0px!important;
     margin-bottom: 0px!important;
}
.newsLetter .gform_footer input[type=submit]{
	margin-left: 20px!important;
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px!important;
    -moz-border-radius: 50px!important;
    -webkit-border-radius: 50px!important;
    width: 180px!important;
    min-height: 45px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #ffffff;
    background: transparent!important;
    border: 1px solid #fff!important;
   
}
.newsLetter .gfield_checkbox label{
	color: #fff!important;	
}
.newsLetter .gform_body > ul > .gfield > .ginput_container_checkbox{
	    margin-top: 4px!important;
}
.newsLetter .uabb-gf-style .gform_wrapper .gfield .ginput_container_checkbox{
	 margin-top: 4px!important;
}

.shadowBottom{
	box-shadow: 0 16px 12px 4px #0000001f!important;
}
.associatesImages img{
	height: 50px!important;
    width: auto!important;
}
.contactUs .gfield{
	padding-right: 15px!important;
}
.contactUs .gfield input[type=text], .contactUs .gfield select{
	width:100%!important;
}
.locationPage .findDesignCenter form .gform_body input[type=text], .LocationMenu input[type=text]{
    width: 100%!important;
    border-radius: 0px!important;
}
.uabb-creative-menu ul.menu{
    list-style: none!important;
    padding: 0px!important;
}
.brex-mega-menu>li.mega-menu-saved-row .mega-menu-saved-row-container {
    z-index: -1!important;
}    
.imgCat .fl-module-content .uabb-image-wrap > img{
    height: 100%!important;
}
/* builder page css */
.FormPatnerWithUS form .gfield input[type=text]{
    width: 100%!important;
    background-color: #c4d5f769!important;
    border: 0 none;
    color: #fff!important;
}
.FormPatnerWithUS form .gfield input[type=text]::placeholder{
    color: #fff!important;
}
.FormPatnerWithUS form .gfield input[type=text]:focus::placeholder{
    color: #37393e!important;
}
.FormPatnerWithUS form .gfield input[type=text]:focus{
    background-color: #f8f9fb!important;
    outline: 0!important;
    color: #000!important;
}
.FormPatnerWithUS form .gform_footer{
    position: relative!important;
    padding: 0px;
    overflow: hidden;
    border-radius: 100px;
    
}
.FormPatnerWithUS form .gform_footer::before{
    content: "";
    background-image: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15));
    border-color: #dadada;
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 0%;
    width: 100%;
    pointer-events: none;
    transition: height 0.4s;
}
.FormPatnerWithUS form .gform_footer::after{
     content: "";
    background-image: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15));
    border-color: #dadada;
    position: absolute;
    top: 50%;
    left: 0;
    height: 0%;
    width: 100%;
    pointer-events: none;
    transition: height 0.4s;
}
.FormPatnerWithUS form .gform_footer:hover::before{
    height: 50%;


}
 .FormPatnerWithUS form .gform_footer:hover::after{
    height: 50%;

}
/* gallery page css start here */
.gallery-item .gallery-image .fearured_img_holder {
	display: inline-block!important;
}
.carouselTwo .item > a{
	display: inline-block!important;
}
.galleryTitle {
    font-size: 36px!important;
    text-align: center;
}
.gallery-template #filter {
    text-align: center;
    padding: 10px 20px;
}
.gallery-template #filter select{
    padding: 14px 15px!important;
}
.gallery-template article{
    display: none!important;
}
.gallery-template #response{
    padding-top: 40px!important;
}
.carouselWrapper .carouselOne {
    padding: 0px 40px!important;
    overflow: hidden;
}
.carouselWrapper .carouselOne .owl-nav button{
    font-size: 60px!important;
    font-weight: 600!important;
    color: #3F547F;
    text-shadow: 0.1rem 0.1rem 0.4rem rgba(55,57,62,.8);
}
.carouselWrapper .carouselOne .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
}
.carouselWrapper .carouselOne .owl-nav button:nth-child(2){
    position: absolute;
    right: 0px;
}
#response .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
#response .pagination > span{
    padding: 10px!important;
    padding: 8px 14px!important;
    background: #006fa9!important;
    color: #fff!important;    
    border-bottom: .1rem solid #dadada;
    border-right: .1rem solid #dadada;
    border-top: .1rem solid #dadada;
    display: inline-block;
    transition: .3s;
}
#response .pagination > a{
    text-decoration: none!important;
    padding: 10px!important;
    padding: 8px 14px!important;
    background: #f8f9fb!important;
    color: #000!important;
    border-bottom: .1rem solid #dadada;
    border-right: .1rem solid #dadada;
    border-top: .1rem solid #dadada;
    display: inline-block;
    transition: .3s;
}
#response .pagination > a:hover{
    background: rgba(0,111,169,.4)!important;
    color: #fff!important;

}
.galleryMenuLists ul{
    list-style: none!important;
    padding: 0px!important;
    font-size: 14px!important;
    color: #000!important;
}
.galleryMenuLists ul li{
    padding: 4px 0px!important;
}
.galleryMenuLists ul li a{
    color: #000!important;
    font-size: 14px!important;
}
.galleryMenuLists ul li a:hover{
    color: #3F547F!important;
}
@media (min-width: 992px){
    .gallery-item {
        max-height: 250px!important;
        overflow: hidden!important;
    }
     .gallery-item > img{
        max-height: 250px!important;
    }
    #response .gallery_list_holder > div.col-md-4{
        margin: 10px 0px!important;     
        overflow: hidden;
        /* clear: left;    */
    }
    .carouselOne .owl-item .item > img{
	max-width: 445px!important;
    height: 300px;
    width: auto;
    margin: 0 auto!important;

}
     .carouselTwo .owl-stage > div {
        width: 100px!important;
        height: 60px;
        overflow: hidden;
    }
     .carouselTwo .owl-stage > div img{
        max-width: none; 
        min-height: 60px!important;
    }
    .modal-dialog {
        width: 800px!important;
    }
    .sliderThubnail .owl-stage-outer {
        padding: 0px 20px!important;
    }
    .gallery-template #filter select{
    width: 300px!important;
    font-size: 14px!important;
}
	.homePopularStyle .uabb-tabs .uabb-tabs-nav {
		width: 35%!important;
	}
	.homePopularStyle .uabb-tabs .uabb-content-wrap {
		width: 65%!important;
	}
	.showImgWrap{
		min-height: 500px!important;
	}
	.homePopularStyle .uabb-tabs-nav{
		min-height: 500px!important;
	}
	.homePopularStyle .uabb-tabs-nav > ul{
		margin-top: 120px!important;
	}
	.homebuyermenu .uabb-creative-menu li:not(:first-child) a{
		padding: 6px 10px!important;
		border-left: 1px solid #000!important;
	}
    .hidecurrentMenu .menu > li.current_page_item{
    display: none!important;
}

.findDesignCenter .uabb-gf-form-title{
	text-align: center!important;
    width: 92%;
}
.findDesignCenter form{
	display: flex;
}
.findDesignCenter form .gfield .ginput_container > input[type=text]{
	float: right;
    margin-right: 20px!important;
    margin-top: 0px!important;
}

}
/* Gallery */

.gallery_list_holder {
    margin-bottom: 30px;
}

.gallery-item .gallery-image .fearured_img_holder {
    position: relative;
}
.gallery-item .gallery-image .fearured_img_holder .fa{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.gallery-item .gallery-image .fearured_img_holder .fa:before {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 150%;
    color: #fff;
}
.gallery-item .gallery-image .fearured_img_holder:hover .fa{
    opacity: 1;
    visibility: visible;
}